.give-color{
  background-color: #bae1ff;
}
.found-color{
  background: #FFAACC;
}
.startedCounting-color{
  background-color: #CCAAFF;
}
.endedCounting-color{
  background-color: #FFAAEE;
}
.confirmed-color{
  background-color: #FFF79A;
}
.verified-color{
  background-color: #82CA9D;
}
.modified-color{
  background-color: #F7977A;
}
.unverified-color{
  background-color: black;
}
