// Fonts
@import "fonts";

// Variables
@import "variables";

// Bootstrap
@import "bootstrap-sass/assets/stylesheets/bootstrap";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "colors";

@import "reset";

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

.input-group-addon {
    height: 18px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

.total {
    font-weight: bold;
    color: #2ab27b;
}

#statusButtons {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 60%;
}
