//noinspection CssUnknownTarget
@import (css)
  url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  --color-dark-primary: rgb(0, 35, 41);
  --color-white-primary: rgb(255, 255, 255);
  --color-red-primary: rgb(207, 19, 34);
  --color-red-background: rgb(207, 19, 34, 0.8);

  font-family: 'Poppins', sans-serif;
}

.sidebarLayout,
.sidebarHeader,
.sidebarContent,
.sidebarFooter {
  background-color: var(--color-dark-primary);
  color: var(--color-white-primary);
}

.sidebarLayout {
  align-items: center;
  width: 15rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebarLayout.narrow,
.sidebarLoginPage {
  width: 5rem;
}

.sidebarHeader {
  padding: 1.25rem 0 0 0;
  height: 6.25rem;
}

.sidebarHeader img {
  height: 3.4375rem;
  object-fit: cover;
}

.sidebarContent:not(.narrow) {
  margin-top: 3.125rem;
  text-align: left;
  overflow-y: auto;
  width: 85%;
}
.sidebarContent.narrow {
  margin-top: 3.125rem;
  text-align: left;
  overflow-y: auto;
}

.sidebarFooter {
  text-align: center;
  padding: 0.25rem 1.25rem;
  width: 100%;
}

.sidebarFooter p {
  margin: 0;
  font-size: 1rem;
}

.sidebarFooter p.userName {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}

.logOutButton {
  background-color: var(--color-red-primary);
  border-color: var(--color-red-primary);
  color: var(--color-dark-primary);
  font-weight: bold;
  border-radius: 0.625rem;
}

.logOutButton,
.toggleSidebarButton {
  width: 100%;
}

.sidebarFooter .logOutButton:hover {
  color: var(--color-white-primary);
  background-color: var(--color-red-background);
  border-color: var(--color-red-primary);
  transition: color 0.5s;
  .logOutButtonInside > svg > path {
    color: var(--color-white-primary);
    background-color: var(--color-red-background);
    border-color: var(--color-red-primary);
    transition: color 0.5s;
  }
}

.logOutButtonInside {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.userNameDescription {
  text-align: left;
}
