@import 'antd/dist/antd.css';

:root {
  font-family: Poppins, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;
  background-color: #f0f2f5;
}
