@import "antd/dist/antd.css";

:root {
  font-family: Poppins, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;
}

#vertical-map .volunteer-occupied {
  fill: #e11e14;
}

#vertical-map .volunteer-available {
  fill: #93c01f;
}

#vertical-map .volunteer-unavailable {
  fill: #000;
}
