.footer {
  & a {
    color: white;
  }
  color: white;
  font-weight: 700;
  font-style: italic;
  font-size: 16px;
  text-align: center;
}

.exchangeRate {
  text-transform: uppercase;
  font-size: 25px;
}
