.instructionsModal {
  :global(.ant-modal-header) {
    border-bottom: 2px solid #f0f0f0;
  }

  :global(.ant-modal-body) {
    padding: 24px;
  }
}

.content {
  width: 100%;

  div {
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
