$font-path: "../fonts";

/** Oswald **/

//@font-face {
//  font-family: 'Oswald';
//  font-style: normal;
//  font-weight: 200;
//  src: url("#{$font-path}/oswald/ExtraLight.ttf") format('ttf');
//}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: url("#{$font-path}/oswald/Oxygen-Light.ttf") format('ttf');
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-path}/oswald/Oxygen-Regular.ttf") format('ttf');
}
//
//@font-face {
//  font-family: 'Oswald';
//  font-style: normal;
//  font-weight: 500;
//  src: url("#{$font-path}/oswald/Medium.ttf") format('ttf');
//}
//
//@font-face {
//  font-family: 'Oswald';
//  font-style: normal;
//  font-weight: 600;
//  src: url("#{$font-path}/oswald/SemiBold.ttf") format('ttf');
//}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}/oswald/Oxygen-Bold.ttf') format('ttf');
}