/drivers
/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.production
.phpunit.result.cache
/public/css/app.css
/public/js/app.js

docker/mysql/storage/*

public/css/home_page.css
public/css/home_page.js
