@import "less/variables.less";

.submitBtn {
  align-self: start;
  height: 2rem;
  border-radius: 0.125rem;
  border: none;
  color: white;
  &:hover {
    background-color: #ed1324;
    color: white;
  }
}

.formItem {
  width: @input-width;
}