.logosContainer {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  box-sizing: initial;
  & img:nth-child(2) {
    margin: 0 2.5rem;
    height: 200px;
  }
  & img:last-of-type,
  img:first-of-type {
    height: 100px;
  }
}

.moneyDataContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
