a {
  color: var(--color-white-primary);
  font-weight: 400;
  font-size: 1rem;
  margin: 15px 0;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-color: var(--color-red-background);
  color: var(--color-dark-primary);
  font-weight: bold;
}

a.active {
  background-color: var(--color-red-background);
  color: var(--color-white-primary);
  font-weight: bold;
}
