@import './src/less/variables';

.pageCheckout {
  min-height: 100vh;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sum {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30vw;
}

.sum h4 {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--color-red-primary);
}

.action {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 0 !important;
}

.action button {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  width: 19rem;
  height: 2.625rem;
  color: var(--color-white-primary);
  border-radius: 0.625rem;
}

.confirm {
  background-color: var(--color-red-primary);
}

.confirm:hover {
  background-color: var(--color-red-primary);
  border-color: var(--color-red-primary);
  color: var(--color-white-primary);
}

.confirmBusy {
  background-color: #132bcf;
}

.confirmBusy:hover {
  background-color: #132bcf;
  border-color: #132bcf;
  color: var(--color-white-primary);
}

.goBack {
  background-color: var(--color-dark-primary);
  //   margin-bottom: 5rem;
}

.goBack:hover {
  background-color: var(--color-dark-primary);
  border-color: var(--color-dark-primary);
  color: var(--color-white-primary);
}

.columnNames {
  border-bottom: 2px solid #000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  font-weight: 600;
  font-size: 1rem;
  height: 1.5rem;
}

.contentColumns {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  margin-top: 3rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.contentSection {
  display: flex;
  align-items: start;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.contentColumn {
  display: flex;
  flex-direction: column;
  width: 325px;
  margin-left: 15px;
}

.columnLine {
  width: 100%;
  border-bottom: 1px solid rgba(0, 35, 41, 0.5);
  display: flex;
  position: relative;
  padding: 0rem 1rem 0.1rem 1rem;
  height: 1.5rem;
  justify-content: space-between;
}

.columnBottom {
  display: flex;
  padding: 0rem 1rem 0.1rem 1rem;
  justify-content: space-between;
  width: 100%;
}

.amount {
  position: absolute;
  right: 42.5%;
  top: 50%;
  font-size: 1rem;
  transform: translatey(-50%);
}

.denomination {
  display: flex;
  position: absolute;
  font-size: 1rem;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.value {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 1rem;
  top: 50%;
  font-size: 1rem;
  transform: translateY(-50%);
}

@media (-webkit-device-pixel-ratio: 1.25) {
  .pageCheckout {
    min-height: 100vh;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    > h4 {
      font-size: 1.3rem;
    }
  }
  .amount,
  .denomination,
  .value,
  .action {
    font-size: 0.8rem;
  }
  .columnBottom {
    padding: 0rem 0.5rem 0.05rem 0.5rem;
  }
  .columnLine {
    height: 1.1rem;
  }
  .contentColumn {
    display: flex;
    flex-direction: column;
    width: 275px;
  }
  .columnNames {
    padding: 0;
    font-weight: 600;
    font-size: 0.8rem;
    height: 1.2rem;
  }
  .action {
    margin-top: 10px;
    text-align: center;
    flex: 0 !important;
    > button {
      height: 2rem;
    }
  }
  .sum h4 {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--color-red-primary);
  }
  .sum {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .confirm,
  .goBack {
    padding: 0;
    font-size: 0.8rem;
    height: 1rem;
  }
}

.error {
  color: @red-6;
}
