@money-container-width: 59%;

.wrapper {
  background-color: #222d53;
  width: 100vw;
  height: 100vh;
  background-image: url('/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.moneyContainer {
  width: @money-container-width;
}

.mapContaienr {
  width: calc(100% - @money-container-width)
}
